body{
  text-align: center;
}
.blocco{
  width: auto;
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
.scontoalto{
  position: absolute;
  top: -15px;
  right: 0;
  background-color: green;
}
.scontobasso{
  position: absolute;
  top: -15px;
  right: 0;
  background-color: red;
}
.cuore{
  display: none;
  color: red;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 50%;
}
a:hover + .cuore{
  display: block;
}
